<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SITETO</title>
    <link rel="stylesheet" href="{% static "main/css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{% static "main/javascrypt/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "main/javascrypt/main.js" %}"></script>
</head>
<body>
    <div class="all_letters">
    </div>
</body>
</html>
