body {
    margin: 0 0;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

.header-nav {
    background-color: #6640B2;
    width: 100%;
    height: 8vh;
}

.header-nav ul {
    text-align: right;
    margin: 0;
}

.header-list li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5%;
    font-size: 23px;
    margin-top: 1.6vh;
    font-weight: lighter;
}

.header-list li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.siteto-img {
    position: absolute;
    width: 25%;
    left: 4%;
}

span {
    padding-right: 10px;
    font-weight: 500;
    font-size: 40px;
}

.about {
    position: relative;
    z-index: -1;
    top: 10vh;
    margin-left: 10%;
    font-size: 33px;
}

.img-about {
    padding-bottom: 20vh;
}

.all_letters {
    text-align: center;
    font-size: 30px;
    margin-top: 33vh;
    width: 100%;
    height: 40px;
}

.letters {
    position: relative;
    display: inline-block;
    font-weight: 1000;
    width: 35px;
    text-align: center;
}
/*-----ABOUT-US-----------------------------------------------------------------------------------*/
#about_us {
    background-color: #D9D9D9;
    padding-bottom: 7vh;
}
#about_us-header {
    font-weight: 600;
    font-size: 40px;
    line-height: 152.5%;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 3vh;
}
.about_us-block {
    margin-left: 4%;
    margin-right: 10%;
}

.about_us-subtitle {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 2vh;
}
